
<div class="container mt-2">
    <div class="card-header">Customers</div>
    <div class="card-body">
      <div *ngIf="searchFormGroup">
        <!--{{this.searchFormGroup.value | json}}-->
        <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchCustomersPage()">
          <div class="input-group">
            <label class="input-group-text">Keyword:</label>
            <input type="text" formControlName="keyword" class="form-control"/>
            <button class="btn btn-info">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>
      </div>
      <ng-container *ngIf="customersPageObservable | async as customerPage; else failureOrLoading">
      <table class="table">
        <thead>
        <tr>
          <th>Id</th><th>Name</th><th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of customerPage.customerDTOS">
          <td>{{c.id}}</td>
          <td>{{c.name}}</td>
          <td>{{c.email}}</td>
          <td>
            <button (click)="handleDeleteCustomer(c)" class="btn btn-danger">
              <i class="bi bi-trash "></i>
            </button>
          </td>
          <td>
            <button (click)="handleUpdateCustomer(c)" class="btn btn-info">
              <i class="bi bi-pencil"></i>
            </button>
          </td>
          <td>
            <button (click)="handleCustomerAccount(c)" class="btn btn-success">
            Accounts
            </button>
          </td>
        </tr>
        </tbody>
      </table>
        <ul class="nav nav-pills">
          <li *ngFor="let item of [].constructor(customerPage.totalPages); let page = index">
            <a [ngClass]="page == currentPage ? 'btn-info':'btn-outline-info'" (click)="gotoPage(page)" class="btn ms-1 mt-1">{{page}}</a>
          </li>
        </ul>
  </ng-container>
  <ng-template #failureOrLoading class="text-danger">
    <ng-container *ngIf="errorMessage; else loading">
      <div class="text-danger">
        {{errorMessage}}
      </div>
    </ng-container>
    <ng-template #loading>
        loading .....
    </ng-template>
  </ng-template>

</div>
</div>
